<div class="page-title-area item-bg2">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="/">Startseite</a></li>
            </ul>
            <h2>Bewerben</h2>
        </div>
    </div>
</div>

<div
    class="contact-info-area pt-100 pb-70"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6" (click)="setForm(1)">
                <div class="contact-info-box mb-30">
                    <div class="icon">
                        <i class='bx bx-male-female'></i>
                    </div>
                    <h3>Ich möchte Ausbilder werden</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" (click)="setForm(2)">
                <div class="contact-info-box mb-30">
                    <div class="icon">
                        <i class='bx bx-chalkboard'></i>
                    </div>
                    <h3>Ich möchte einen Kurs empfehlen</h3>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<div
    class="contact-area pb-100" *ngIf="showForm"
>
    <div class="container">
        <div class="section-title" *ngIf="offerForm.get('offerType').value==0">
            <span class="sub-title">Werden Sie Teil unseres Nachhilfelehrerteams!</span>
            <!-- <h2>Drop us Message for any Query</h2> -->
            <p>Bitte füllen Sie das Formular aus, um Ihre Bewerbung abzuschliessen.</p>
        </div>
        <div class="section-title" *ngIf="offerForm.get('offerType').value==1">
            <span class="sub-title">Vorschlag für einen Kurs</span>
            <!-- <h2>Drop us Message for any Query</h2> -->
            <p>Werden Sie Teil unseres Nachhilfelehrerteams!</p>
        </div>
        <div class="contact-form">
            <form  [formGroup]="offerForm">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <input required minlength="3" maxlength="50"  name="firstName" type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="Vorname">
                            <div class="alert alert-danger" *ngIf="offerForm.touched && !offerForm.get('firstName').valid">
                               Vorname is required
                             
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <input required minlength="3" maxlength="50"  name="lastName" type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Nachname">
                            <div class="alert alert-danger" *ngIf="offerForm.touched && !offerForm.get('lastName').valid">
                               Nachname is required.
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <input required  name="email" type="text" formControlName="email" class="form-control" id="email" placeholder="Your email address">
                             <div class="alert alert-danger" *ngIf="offerForm.get('email').touched && !offerForm.get('email').valid">Email Address is required.</div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="form-group">
                            <input   name="number" type="text" formControlName="phoneNumber" class="form-control" id="number" placeholder="Your phone number">
                             <div class="alert alert-danger" *ngIf="offerForm.get('phoneNumber').touched && !offerForm.get('phoneNumber').valid">Phone number is required.</div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <input   name="number" type="text" formControlName="lessons" class="form-control" placeholder="Kurse (mit Komma)">
                            <div class="alert alert-danger" *ngIf="offerForm.get('lessons').touched && !offerForm.get('lessons').valid">Lessons is required.</div>

                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <textarea required formControlName="description" id="message" cols="30" rows="5" class="form-control" placeholder="Letzter Abschluss ..."></textarea>
                            <div class="alert alert-danger" *ngIf="offerForm.get('description').touched && !offerForm.get('description').valid">
                                <div *ngIf="offerForm.get('description').errors.required">Message is required.</div>
                                <!-- <div *ngIf="offerForm.get('message').errors.minlength">Name is minimum {{ offerForm.get('message').errors.minlength.requiredLength }} character.</div> -->
                                <div *ngIf="offerForm.get('description').errors.maxlength">Message is maximum 1000 character.</div>
                            </div> 
                           
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div>{{message}}</div>
                        <button (click)="submit()" type="submit" class="default-btn" [disabled]="!offerForm.valid"><i class='bx bx-paper-plane icon-arrow before'></i><span class="label">Bewerbung senden</span><i class="bx bx-paper-plane icon-arrow after"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="contact-bg-image">
        <img src="assets/img/map.png" alt="image">
    </div>
</div>

<!-- <div id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d359536.14502592356!2d-76.08043413946686!3d45.25029749557496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce04ff4fe494ef%3A0x26bb54f60c29f6e!2sParliament%20Hill!5e0!3m2!1sen!2sbd!4v1593691677634!5m2!1sen!2sbd"></iframe>
</div> -->