<div
    class="my-dashboard-area ptb-100"
>
    <div class="container">
        <div class="myDashboard-profile">
            <div class="row align-items-center">
                <!-- <div class="col-lg-4 col-md-5">
                    <div class="profile-image">
                        <img src="assets/img/instructor/instructor1.jpg" alt="image">
                    </div>
                </div> -->
                <div class="col-lg-8 col-md-7 ms-5">
                    <div class="profile-content">
                        <h3>{{user$.firstName}} {{user$.lastName}}</h3>
                        <ul class="contact-info">
                            <li><i class='bx bx-envelope'></i> <a href="mailto:{{user$.email}}">{{user$.email}}</a></li>
                            <li><i class='bx bx-phone'></i> <a href="tel:+502464674">{{user$.phoneNumber}}</a></li>
                          
                        </ul>
                        <!-- <a (click)="onLogout()" class="myDashboard-logout">Abmelden</a> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="myDashboard-navigation">
            <ul>
                <li><a routerLink="/my-dashboard" class="active"><i class='bx bxs-dashboard'></i> Kurse</a></li>
                <li><a routerLink="/orders"><i class='bx bx-math'></i> Prüfungen</a></li>
                <li><a routerLink="/downloads"><i class='bx bx-home-alt'></i> Hausaufgaben</a></li>
                <li><a routerLink="/edit-address"><i class='bx bx-edit'></i> Notizen</a></li>
                <li><a routerLink="/edit-account"><i class='bx bx-question-mark'></i> Fragen</a></li>
            </ul>
        </div>
        <div class="myDashboard-content">
         
            <div class="recent-orders-table table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Kurse</th>
                            <th>Datum</th>
                            <th>Gruppe </th>
                            <th>Klassenraum</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of openedCourses">
                            <td>{{item.courseName}}</td>
                            <td>{{item.periodStart |date:'longDate':'':defaultLang$}} - {{item.periodEnd |date:'longDate':'':defaultLang$}}</td>
                            <td>{{item.groupName}}
                                <div *ngFor="let day of item.groupDayHours">{{day.dayName}} {{day.startEnd}}</div>
                            </td>
                            <td>{{item.campusName}} - {{item.classroomName}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3"
    *ngFor="let item of openedCourses">
        <div class="mb-25 text-center">
            <div>
                <img src="{{item.imagePath ? imagePath$+item.imagePath:'assets/images/logo.png' }}" class="rounded-circle mb-15" width="200" >
                <h5 class="mb-5 fw-semibold">{{item.courseName}}</h5>
                <span class="d-block muted-color">{{item.teacherName}}</span>
                <div class="btn-box">
                    <button mat-flat-button class="gray default-btn" *ngIf="item.isStudent" [routerLink]="['/student/course/',item.code]">Kurs Sayfasına Git</button>
                    <button mat-flat-button class="gray default-btn" *ngIf="!item.isStudent" [routerLink]="['/student/register/',item.code]">Kayıt Ol</button>
                </div>
                <ul class="list text-center ps-0 mb-0">
                    <li class="muted-color fw-medium down">
                        <span class="d-block">{{'STARTDATE' |translate}}</span>
                        <span class="gray-color d-inline-block position-relative fw-semibold">{{item.periodStart |date:'longDate':'':defaultLang$}}</span>
                    </li>
                    <li class="muted-color fw-medium down">
                        <span class="d-block">{{'ENDDATE' |translate}}</span>
                        <span class="gray-color d-inline-block position-relative fw-semibold">{{item.periodEnd |date:'longDate':'':defaultLang$}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>