<div class="about-area ptb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12">
                <div class="about-content">
                    <h2 class="sub-title">ÜBER UNS</h2>
                    <p>Mufid Bildungsstätte ist ein gemeinnütziger und politisch unabhängiger Verein, welcher im Rahmen von Kursen und Seminaren für Gross und Klein authentisches Wissen über den Islam in deutscher Sprache anbietet. Des Weiteren soll das Nachhilfeangebot für Grundschulkinder, das Bildungsniveau der Kinder fördern und ihnen die Möglichkeit geben ihr Allgemeinwissen zu stärken. Zu den Aufgaben von Mufid gehören ebenso die zielgruppenorientierte Planung, Entwicklung und Durchführung von Vorträgen, Seminaren und Workshops.</p>
                </div>
            </div>
        </div>
    </div>
</div>