<div class="page-title-area item-bg1">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="/">Startseite</a></li>
                <li>{{category.fieldName}}</li>
            </ul>
            <h2>{{category.categoryName}}</h2>
            
        </div>
    </div>
</div>
<section
    class="courses-area pt-100 pb-70"
>
    <div class="container">

        <div class="tabs-container">

                <div  class="pane" id="tab0" >
                    <div class="row">
                        <div class="col-lg-4 col-md-6" *ngFor="let item of courses">
                            <div class="single-courses-box mb-30" [routerLink]="['/course',item.code,item.name | seoslugify]">
                                <div class="courses-image">
                                    <a [routerLink]="['/course',item.code,item.name | seoslugify]" class="d-block">
                                        <img [src]="imagePath$+item.imagePth" [alt]="item.name"></a>
                                    <div class="courses-tag">
                                        <a [routerLink]="['/course',item.code,item.name | seoslugify]"  class="d-block">{{item.categoryName}}</a>
                                    </div>
                                </div>
                                <div class="courses-content">
                                    <div class="course-author d-flex align-items-center">
                                        <!-- <img src="assets/img/user1.jpg" class="rounded-circle mr-2" alt="image"> -->
                                        <span>{{item.openedCourses[0]?.teacherFullName}}</span>
                                        
                                    </div>
                                    <h3>
                                        <a [routerLink]="['/course',item.code,item.name | seoslugify]"  class="d-inline-block" [innerHTML]="item.name | truncate:500:false: ' Weiterlesen ...' ">
                                            
                                        </a>
                                    </h3>
                                    <p [innerHTML]="item.description | truncate:500:false: ' Weiterlesen ...' "></p>
                                    <!-- <div class="courses-rating">
                                        <div class="review-stars-rated">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </div>
                                        <div class="rating-total">
                                            5.0 (1 rating)
                                        </div>
                                    </div> -->
                                </div>
                                <div class="courses-box-footer">
                                    <ul>
                                        <li class="students-number" *ngFor="let oc of item.openedCourses">
                                            <i class='bx bx-map'></i> {{oc.campus}}<br />
                                            <i class='bx bx-people'></i>Quote {{oc.quota}}
                                        </li>
                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>

        </div>
    </div>
</section>